@page
@model wws_web.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div style="color:red">@Model.ErrorMessage</div>
}

<form method="post" style="width:250px;">
    <table>
        <tr>
            <td><label asp-for="UserName">Username:</label></td>
            <td><input asp-for="UserName" /></td>
        </tr>
        <tr>
            <td><label asp-for="Email">Email:</label></td>
            <td><input asp-for="Email" /></td>
        </tr>
        <tr>
            <td><label asp-for="Password">Password:</label></td>
            <td><input asp-for="Password" type="password" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:left;">
                <button type="submit">Login</button>
            </td>
        </tr>
    </table>
</form>
